article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden] {
  display: none;
}
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
a:focus {
  outline: thin dotted;
}
a:active,
a:hover {
  outline: 0;
}
h1 {
  font-size: 2em;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: 700;
}
dfn {
  font-style: italic;
}
mark {
  background: #ff0;
  color: #000;
}
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}
pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}
q {
  quotes: \201c \201d \2018 \2019;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}
button,
input {
  line-height: normal;
}
button,
html input[type="button"],
/* 1 */ input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
input[disabled] {
  cursor: default;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body,
figure {
  margin: 0;
}
legend,
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@font-face {
  font-family: "font1";
  src: url("../assets/fonts/brownFox.ttf");
}
a {
  outline: 0;
}
a:hover,
a:active,
a:focus {
  outline: 0;
}
body {
  font-family: "Roboto", sans-serif;
  padding: 0;
  overflow: visible;
}
.wrapper {
  max-width: 1024px;
  margin: 0 auto;
}
nav {
  background: #1e272e;
  border-bottom: 1px solid #cacbcb;
  position: fixed;
  width: 100%;
  z-index: 1;
}
.nav-wrap {
  margin: auto;
  display: flex;
  justify-content: space-between;
  color: #cacbcb;
}
.left-nav {
  p {
    font-size: 25px;
    letter-spacing: 0.2em;
    span {
      color: #b93830;
    }
  }
}
.right-nav {
  display: flex;
  justify-content: center;
  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: 0;
    li {
      margin: 15px;
      text-transform: uppercase;
      margin: 0px 30px;
      font-size: 14px;
      line-height: 1.42857143;
      padding: 25px 0px;
      a {
        text-decoration: none;
        justify-content: center;
        color: #cacbcb;
        padding: 25px 0px;
        border-bottom: 0px solid transparent;
        transition: 0.5s ease;
      }
      a:hover {
        border-bottom: 7px #f44336 solid;
      }
    }
  }
  #home-nav {
    border-bottom: 7px #f44336 solid;
  }
}

.home {
  padding: 170px 0;
  text-align: center;
  margin: auto;
  display: flex;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("../assets/img/be-bg.jpg");
  background-size: cover;
  justify-content: center;
  h1 {
    padding-top: 150px;
    font-family: "font1";
    margin-top: 20px;
    font-size: 62px;
    color: #fff;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.318);
    letter-spacing: 10px;
    font-weight: 200;
  }
  h2 {
    text-transform: uppercase;
    color: #cacbcb;
    font-size: 25px;
    font-family: "Roboto Condensed", sans-serif;
    letter-spacing: 10px;
    margin: auto;
  }
  .home-bot {
    width: 5%;
    margin: auto;
    margin-top: 200px;
    font-size: 50px;
    font-weight: 500;

    i {
      color: #f44336;
    }
  }
  .home-bot:hover {
    -webkit-animation-play-state: paused;
    -moz-animation-play-state: paused;
    -o-animation-play-state: paused;
    animation-play-state: paused;
  }
}

.about {
  background-color: #f5f5f5;
  padding: 50px 0;
  .about-container {
    margin: auto;
    display: flex;
    flex-direction: row;
    .about-left {
      width: 45%;
      margin: 2%;
      img {
        height: 100%;
        width: 100%;
        transform: rotateX(180deg);
      }
    }
    .about-right {
      display: flex;
      margin-top: 0;
      margin: 2%;
      width: 50%;
      padding-right: 50px;
      text-align: left;
      flex-direction: column;
      justify-content: space-between;
      p {
        line-height: 2em;
        font-family: "Roboto", sans-serif;
        font-size: 20px;
        margin: 0;
      }
      .icons {
        p {
          margin-bottom: 15px;
          font-family: "Roboto Condensed", sans-serif;
          font-size: 18px;
          letter-spacing: 1px;
          font-style: italic;
        }
        p:hover {
          font-style: normal;
          color: #b93830;
          text-decoration: underline;
        }
        a {
          color: black;
          margin-right: 20px;
          font-size: 30px;
          padding: 10px;
          border-radius: 25px;
          i {
            color: black;
            font-size: 30px;
            width: 40px;
          }
        }
        a:hover i {
          color: #b93830;
        }
      }
    }
  }
}

h3 {
  font-size: 40px;
  margin-bottom: 70px;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  text-align: center;
  span {
    color: #b93830;
    font-weight: 600;
  }
}

.skills {
  padding: 50px 0;
  .skill-set {
    display: flex;
    flex-direction: row;
    text-align: center;
    padding: 30px;
    figure {
      text-align: center;
      margin: auto;
      figcaption {
        margin: 15px auto;
        font-family: "Roboto Condensed", sans-serif;
        letter-spacing: 1.5px;
        font-size: 16px;
      }
    }
    i {
      font-size: 80px;
      margin: 30px;
    }
  }
}
.works {
  padding: 50px 0;
  color: #fff;
  background-color: #1e272e;
  .projects {
    .project-container {
      margin-bottom: 80px;
      display: flex;
      flex-direction: row;
      .left {
        position: relative;
        width: 50%;

        img {
          width: 100%;
          filter: brightness(60%);
        }

        a {
          width: 80%;
          height: 100px;
          padding-top: 30px;
          position: absolute;
          text-align: center;
          top: 30%;
          left: 10%;
          font-weight: 400;
          background-color: rgba(255, 255, 255, 0.5);
          text-decoration: none;
          text-align: center;
          color: black;
          font-family: "Roboto Condensed", sans-serif;
          font-size: 25px;
          letter-spacing: 5px;
        }
        a:hover {
          background-color: rgba(255, 255, 255, 0.8);
        }
      }
      .right {
        padding: 0 50px;
        margin: auto;
        width: 50%;
        .project {
          font-family: "Roboto", sans-serif;
          text-transform: uppercase;
          letter-spacing: 2px;
          font-size: 30px;
          font-weight: 800;
        }
        .title {
          font-family: "Roboto Condensed", sans-serif;
          font-size: 16px;
          text-transform: uppercase;
          font-weight: 800;
          letter-spacing: 4px;
          font-style: italic;
        }
        .technology {
          font-family: "Roboto Condensed", sans-serif;
          letter-spacing: 1.5px;
          font-size: 16px;
          color: #b93830;
          font-style: italic;
        }
        .description {
          line-height: 30px;
          font-size: 16px;
        }
      }
    }
    .project-container:nth-child(even) {
      flex-direction: row-reverse;
      text-align: right;
    }
  }
}
footer {
  text-align: center;
  padding: 30px 0;
  padding-top: 40px;
  background-color: #3c4859;
  a {
    margin-right: 20px;
    font-size: 30px;
    padding: 10px;
    border-radius: 25px;
    i {
      color: white;
      font-size: 30px;
      width: 40px;
    }
  }
  p {
    margin-top: 40px;
    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;

    font-family: "Roboto Condensed", sans-serif;
  }
  a:hover i {
    color: #b93830;
  }
  a:hover a {
    border: 2px solid #b93830;
  }
}
@media (min-width: 601px) {
  .drop-down {
    display: none;
  }
}
@media (max-width: 1024px) {
  .home {
    padding: 140px 0;
    h1 {
      font-size: 45px;
    }
    h2 {
      font-size: 23px;
    }
  }
  .skills {
    .skill-set {
      i {
        font-size: 60px;
      }
    }
  }
  .works {
    .projects {
      .project-container {
        .left {
          .click {
            padding: 30px 80px;
          }
        }
      }
    }
  }
}
@media (max-width: 940px) {
  .home {
    h1 {
      margin-top: 90px;
      font-size: 30px;
    }
  }
  .about {
    .about-container {
      .about-right {
        p {
          font-size: 17px;
        }
        .icons {
          a {
            i {
              font-size: 20px;
              width: 20px;
            }
          }
        }
      }
    }
  }
  .works {
    .right {
      padding: 0 20px;
    }
  }
  footer {
    a {
      font-size: 25px;
      i {
        width: 20px;
      }
    }
  }
}
@media (max-width: 767px) {
  h3 {
    font-size: 30px;
    margin-bottom: 20px;
  }
  .home {
    padding: 30px 0;
  }
  .about {
    .about-container {
      .about-right {
        p {
          font-size: 16px;
        }
      }
    }
  }
  .works {
    .projects {
      .project-container {
        .left {
          a {
            font-size: 20px;
          }
        }
        .right {
          padding: 0 10px;
          .project {
            font-size: 22px;
          }
          .title {
            font-size: 14px;
          }
          .technology {
            font-size: 14px;
          }
          .description {
            font-size: 14px;
          }
        }
      }
    }
  }
}
@media (max-width: 600px) {
  body {
    overflow-x: hidden;
  }
  nav {
    display: none;
  }
  .home {
    padding: 10px 0;
    h1 {
      padding: 0;
      font-size: 20px;
    }
    h2 {
      font-size: 14px;
    }
    .home-bot {
      margin-top: 80px;
      font-size: 35px;
      margin-bottom: 20px;
    }
  }
  .about {
    padding: 20px 0;
    .about-container {
      flex-direction: column;
      text-align: center;
      margin: auto;
      .about-left {
        width: 80%;
        margin: auto;
      }
      .about-right {
        padding: 0;
        margin: auto;
        width: 80%;
        text-align: center;
        p {
          margin-top: 20px;
        }
      }
    }
  }
  .skills {
    padding: 20px 0;
    .skill-set {
      padding: 15px;
      figure {
        width: 25%;
      }
      i {
        font-size: 35px;
      }
    }
  }
  .works {
    .projects {
      .project-container {
        margin-bottom: 20px;
        flex-direction: column;
        .left {
          margin: auto;
          width: 80%;
          a {
            width: 50%;
            height: 40%;
            left: 80px;
            font-size: 16px;
          }
        }
        .right {
          text-align: center;
          width: 80%;
          padding: 0 10px;
          .project {
            font-size: 22px;
          }
          .title {
            font-size: 14px;
          }
          .technology {
            font-size: 14px;
          }
          .description {
            font-size: 14px;
          }
        }
      }
      .project-container:nth-child(even) {
        margin: auto;
        text-align: center;
        flex-direction: column;
      }
    }
  }
  footer {
    padding: 10px;
    a {
      font-size: 20px;
    }
    p {
      font-size: 14px;
    }
  }
}
.drop-down {
  position: fixed;
  z-index: 5;
  width: 100%;
  background-color: #1e272e;
  border-bottom: 1px solid #fff;
  padding: 5px 0;
  .hamburger {
    display: inline;
    background: none;
    vertical-align: middle;
    border: 0;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    z-index: 1;
    color: #fff;
    padding: 0 10px;
  }
  .cross {
    color: #fff;
    background: none;
    vertical-align: middle;
    display: inline;
    border: 0;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    z-index: 1;
  }
}
.menu {
  height: auto;
  width: 0px;
  position: fixed;
  z-index: 5;
  top: 48px;
  padding: 0;
  left: 0;
  overflow-x: hidden;
  color: #fff;
  transition: 0.15s ease-in-out;
  background-color: white;
  text-align: center;
  border-bottom: 1px solid black;
  &.open-nav {
    width: 100%;
    height: auto;
    z-index: 100;
    margin: 0;
    padding: 0;
  }
  ul {
    padding: 0;
    margin: 0;
  }
  ul li {
    font-size: 17px;
    text-transform: uppercase;
    display: block;
    border-bottom: 1px solid #83858c;
    padding: 15px;
    a {
      text-decoration: none;
      color: black;
    }
  }
  ul li:hover {
    background-color: #b93830;
  }
  ul li:hover a {
    color: #fff;
  }
}
